@import 'vars.scss';

.button {
    @include FlexCenter;
    align-items: center;
    background-color: rgb(150, 82, 150);
    border: none;

    @include BthRoundRadius;
    @include ButtonFont;

    margin: auto;
    width: 7em;
    height: 2em;

    &:hover {
        @include HoverShadow;
    }
}