@import 'vars.scss';

li {
    list-style: none;
    text-transform: uppercase;
    @include ButtonFont;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.header__container {
    height: 20vh;
    background-color: rgba(255, 123, 0, 0.5);

    .header__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .header__item {
            color: white;
        }

        img {
            width: 6%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}