@import 'vars.scss';

.buttonSave {
    background-color: greenyellow;
    @include ButtonFont;
    color: black;
}

.buttonEdit {
    background-color: orange;
    @include ButtonFont;
}

.buttonDelete {
    background-color: red;
    @include ButtonFont;
}

.buttonTranslate {
    background-color: rgb(31, 125, 255);

    @include ButtonFont;

    margin-top: 5px;
}

.generalButton {
    border: none;
    @include BthRoundRadius;
    width: 7em;
    height: 3em;

    &:hover {
        @include HoverShadow;
        cursor: pointer;
    }
}