@import 'vars.scss';

.buttonSave {
    background-color: greenyellow;
    @include ButtonFont;
    color: black;
}

.buttonEdit {
    background-color: rgb(255, 155, 54);
    @include ButtonFont;
}

.buttonCansel {
    background-color: red;
    @include ButtonFont;
}

.buttonTranslate {
    background-color: rgba(255, 123, 0, 1);

    @include ButtonFont;

    margin-top: 5px;
}

.generalButton {
    border: none;
    @include BthRoundRadius;
    width: 7em;
    height: 3em;

    &:hover {
        @include HoverShadow;
        cursor: pointer;
    }
}