.buttonSave {
    background-color: greenyellow;
}

.buttonEdit {
    background-color: orange;
}

.buttonDelete {
    background-color: red;
}

.generalButton {
    border-radius: 5px;
    border: 1px solid rgb(72, 72, 72);

    width: 70px;
    height: 40px;

    &:hover {
        box-shadow: 2px 2px 2px rgb(113, 113, 113);
        transition: 200ms;
        cursor: pointer;
    }
}