.aside__menu {
    background-color: black;
}

.cards__container {
    margin: 10% 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: flex;
    flex-direction: column;

    margin-top: 20%;
    width: 25px;
    height: 25px;
}

img {
    width: 550px;
    height: 350px;
}

.card__word {
    display: flex;
    flex-direction: column;

    padding-top: 5%;
}

.bold__word, .word__translation {
    display: flex;
    justify-content: center;
}

.bold__word {
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
}

.word__translation {
    font-size: 14px;
    font-style: italic;
}